.navBar {
    height: 50px;
    background-color: blueviolet;
    text-align: right;
    position: sticky;
    top: 20px;
    left: 20px;
}

.nav-list {
    list-style-type: none;
}

.nav-item{
    display: inline-block;
    margin: 10px 10px 0px 10px;
    color: white
}
.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    color: #eee;
}
.nav-item a:hover {
    color: rgb(243, 230, 230);
}